.App {
  background-color: #eee;

  .container-home {
    background-color: red;
    min-height:100vh ;
  }
  .container-about {
    background-color: blue;min-height:100vh ;
  }
  h1 {
    background-color: skyblue;
  }
}
